$width-pc-large: 1920px;
$width-pc-small: 1280px;
$width-tablet: 960px;
$width-mobile: 640px;

$color-bg-primary: $color-white;
$color-bg-secondary: $color-purewhite;

$color-text-primary: $color-pureblack;
$color-text-secondary: $color-black;

$color-shadow: $color-lightgray;
$color-border: $color-gray;
